/* https://coolors.co/26547c-ef476f-ffd166-06d6a0-fcfcfc */
body {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

#bg-green {
  position: fixed;
  z-index: -1;
  background: #06d6a0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
}
#bg-blue {
  position: fixed;
  z-index: -1;
  background: #26547c;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50vw;
}

body#home-page{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body{
    background: #26547c;
}

#home-page-content, #create-chat-content {
  padding: 20px;
  border-radius: 10px;
  background: white;
  min-width: 300px;
  max-width: 400px;
  text-align: center;
}

a.btn, button {
  text-decoration: none;
  display: block;
  color: white;
  background: #06d6a0;
  padding: 5px 10px;
  text-align: center;
  margin: 5px 0;
  border-radius: 5px;
  font: inherit;
  border: none;
}

a.btn:hover, button:hover {
  background: #05a178;
  cursor: pointer;
}
