<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сообщения</title>
</head>
<body>
    <h1>Сообщения</h1>
    {% for message in messages %}
    <div>
        <p>{{ message.text }}</p>
        <p><small>@{{ message.user.username }}</small>&nbsp;<small>{{ message.datetime_created }}</small></p>
    </div>
    {% endfor %}
    <form action="/messages" method="post">
        <textarea name="text" placeholder="Сообщение"></textarea>
        {% csrf_token %}
        <button>Отправить</button>
    </form>
</body>
</html>